.principal-content {
  float: right;
  width: 85%;
}

.title-dashboard {
  text-align: center;
  margin-bottom: 0;
  font-weight: 900;
}

.content-in {
  float: left;
  width: 96%;
  padding: 2%;
  height: 10vh;
}
