<mat-toolbar color="primary">
  <button mat-icon-button class="example-icon" aria-label="Example icon-button with menu icon">
    <mat-icon>menu</mat-icon>
  </button>
  <span>Automatic - ERP</span>
  <span class="example-spacer"></span>
  <button mat-icon-button class="example-icon" aria-label="Example icon-button with settings icon">
    <mat-icon>settings</mat-icon>
  </button>
  <button mat-icon-button class="example-icon" aria-label="Example icon-button with logout icon">
    <mat-icon>logout</mat-icon>
  </button>
</mat-toolbar>
