<mat-toolbar class="header-project" color="primary">
  <span>Automatic - ERP</span>
  <span class="example-spacer"></span>

  <button style="margin-right: -10px" mat-button [matMenuTriggerFor]="menu">
    <mat-icon matBadge="15" matBadgeColor="warn">email</mat-icon>
    <span class="cdk-visually-hidden"></span>
  </button>
  <mat-menu #menu="matMenu">
    <mat-list>
      <mat-list-item class="list-item"
        ><mat-icon class="icon-badge icon-color-error">error</mat-icon> A simple
        notification message
        <mat-checkbox class="example-margin icon-check"></mat-checkbox
      ></mat-list-item>
      <mat-divider></mat-divider>
      <mat-list-item
        ><mat-icon class="icon-badge icon-color-ok">check</mat-icon> A simple
        notification message
        <mat-checkbox class="example-margin icon-check"></mat-checkbox
      ></mat-list-item>
      <mat-divider></mat-divider>
      <mat-list-item
        ><mat-icon class="icon-badge icon-color-wrn">warning</mat-icon> A simple
        notification message
        <mat-checkbox class="example-margin icon-check"></mat-checkbox
      ></mat-list-item>
    </mat-list>
  </mat-menu>

  <button
    mat-icon-button
    class="example-icon"
    aria-label="Example icon-button with settings icon"
  >
    <mat-icon
      ><a style="text-decoration: none; color: #fff" routerLink="/configuration"
        >settings</a
      ></mat-icon
    >
  </button>
  <button
    mat-icon-button
    class="example-icon"
    aria-label="Example icon-button with logout icon"
  >
    <mat-icon>logout</mat-icon>
  </button>
</mat-toolbar>
