table {
  width: 100%;
  border-radius: 10px;
}

.mat-row {
  height: auto;
}

.mat-cell {
  padding: 7px 7px 7px 0;
}
.mat-column-actions {
  width: 10%;
  text-align: center;
}

.icon-action {
  cursor: pointer;
}

.icon-edit {
  color: var(--principal);
}

.icon-read {
  color: var(--principal);
}

.icon-delete {
  color: var(--light-right);
}
