<section class="principal-menu">
  <div class="search-input-env">
    <span>Search</span>
    <input type="search" class="input-search" />
  </div>
  <div class="example-button-row">
    <ul>
      <li class="menu-li">
        <button mat-raised-button class="menu-item" color="primary">
          <mat-icon aria-hidden="false" aria-label="Example group icon"
            >group</mat-icon
          >
          Users
        </button>
      </li>
      <li class="menu-li">
        <button mat-raised-button class="menu-item" color="primary">
          <mat-icon aria-hidden="false" aria-label="Example person icon"
            >person</mat-icon
          >
          Clients
        </button>
      </li>
      <li class="menu-li">
        <button mat-raised-button class="menu-item" color="primary">
          <mat-icon aria-hidden="false" aria-label="Example store icon"
            >store</mat-icon
          >
          Products
        </button>
      </li>
    </ul>
  </div>
</section>
