<section class="principal-menu">
  <div class="search-input-env">
    <span>Search</span>
    <input type="text" class="input-search" />
  </div>
  <div class="example-button-row">
    <ul>
      <li class="menu-li">
        <a class="button" routerLink="/">
          <button mat-raised-button class="menu-item" color="primary">
            <mat-icon aria-hidden="false" aria-label="Example home icon"
              >home</mat-icon
            >
            Dashboard
          </button>
        </a>
      </li>
      <li class="menu-li">
        <a class="button" routerLink="/users">
          <button mat-raised-button class="menu-item" color="primary">
            <mat-icon aria-hidden="false" aria-label="Example group icon"
              >group</mat-icon
            >
            Users
          </button>
        </a>
      </li>
      <li class="menu-li">
        <a class="button" routerLink="/roles">
          <button mat-raised-button class="menu-item" color="primary">
            <mat-icon aria-hidden="false" aria-label="Example article icon"
              >article</mat-icon
            >
            Roles
          </button>
        </a>
      </li>
      <li class="menu-li">
        <a class="button" routerLink="/clients">
          <button mat-raised-button class="menu-item" color="primary">
            <mat-icon aria-hidden="false" aria-label="Example person icon"
              >person</mat-icon
            >
            Clients
          </button>
        </a>
      </li>
      <li class="menu-li">
        <a class="button" routerLink="/products">
          <button mat-raised-button class="menu-item" color="primary">
            <mat-icon aria-hidden="false" aria-label="Example store icon"
              >store</mat-icon
            >
            Products
          </button>
        </a>
      </li>
      <li class="menu-li">
        <a class="button" routerLink="/screens">
          <button mat-raised-button class="menu-item" color="primary">
            <mat-icon aria-hidden="false" aria-label="Example apps icon"
              >apps</mat-icon
            >
            Screens
          </button>
        </a>
      </li>
    </ul>
  </div>
</section>
