.principal-menu {
  position: fixed;
  top: 50px;
  float: left;
  width: 15%;
  height: 100vh;
  background-color: #ff8a65;
}

.menu-li {
  margin-bottom: 10px;
  list-style: none;

}

.menu-item {
  width: 100%;
  text-align: left;
  padding: 0 7px;
}

ul {
  padding: 10px;
}

.search-input-env {
  width: 100%;
  padding: 10px;
}

.input-search {
  width: 80%;
  border-radius: 5px;
  padding: 8px;
  border: 1px solid var(--primary);
  outline: none;
}
