.footer {
  position: absolute;
  width: 100%;
  background-color: #ddd;
  text-align: center;
  bottom: 0;
  z-index: 99;
  padding: 5px 0;
  border-top: 1px solid var(--primary);
  font-weight: 900;
  color: var(--primary);
}
