<div class="content-principal">
  <h1 class="title-dashboard">Configuration</h1>
  <mat-card>Simple card</mat-card>
  <mat-card style="margin-top: 20px">
    <button class="mr-left" mat-raised-button>Basic</button>
    <button class="mr-left" mat-raised-button color="primary">Primary</button>
    <button class="mr-left" mat-raised-button color="accent">Accent</button>
    <button class="mr-left" mat-raised-button color="warn">Warn</button>
    <button class="mr-left" mat-raised-button>Basic</button>
    <button class="mr-left" mat-raised-button color="primary">Primary</button>
    <button class="mr-left" mat-raised-button color="accent">Accent</button>
    <button class="mr-left" mat-raised-button color="warn">Warn</button>
  </mat-card>
  <mat-card style="margin-top: 20px">
    <mat-slide-toggle class="mr-left">Slide me!</mat-slide-toggle>
    <mat-slide-toggle class="mr-left">Slide me!</mat-slide-toggle>
    <mat-slide-toggle class="mr-left">Slide me!</mat-slide-toggle>
    <mat-slide-toggle class="mr-left">Slide me!</mat-slide-toggle>
    <mat-slide-toggle class="mr-left">Slide me!</mat-slide-toggle>
  </mat-card>
  <mat-card style="margin-top: 20px">
    <mat-radio-group aria-label="Select an option">
      <mat-radio-button class="mr-left" value="1">Option 1</mat-radio-button>
      <mat-radio-button class="mr-left" value="2">Option 2</mat-radio-button>
      <mat-radio-button class="mr-left" value="3">Option 3</mat-radio-button>
      <mat-radio-button class="mr-left" value="4">Option 4</mat-radio-button>
      <mat-radio-button class="mr-left" value="5">Option 5</mat-radio-button>
      <mat-radio-button class="mr-left" value="6">Option 6</mat-radio-button>
    </mat-radio-group>
  </mat-card>
</div>
