.title-dashboard {
  text-align: center;
  margin-bottom: 0;
  font-weight: 900;
  padding: 10px;
}

mat-grid-tile {
  background: lightblue;
}

.dash-img {
  width:100%;
  padding:10px 0;
  border-radius: 5px;
  overflow: hidden;
}
